:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

html, body {
  margin: 0;
  padding: 0;
}

.hypaTable .ant-spin-nested-loading {
  height: 100%;
}

.hypaTable .ant-spin-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.hypaTable .ant-table {
  height: max-content;
  overflow: auto;
}

.hypaTable {
  height: 100%;
}

.hypaTable .ant-pagination {
  position: relative;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  border-top: none;
  margin: 0;
  padding: 16px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.hypaTable .ant-table-container::after,
.ant-table-container::before {
  box-shadow: none !important;
}

.hypaTable .ant-pagination-total-text {
  position: absolute;
  left: 130px;
}

.hypaTable .ant-pagination-options {
  position: absolute;
  left: 16px;
  margin: 0;
}

.hypaTable .ant-table-container {
  border: 1px solid #f0f0f0;
  border-bottom: none;
}

.hypaTable table {
  border-collapse: collapse;
  border-top: none !important;
}

.hypaTable table th {
  background: #f9fafb;
}

.hypaTable table th::before {
  display: none;
}

.hypaTable table tr {
  border-bottom: 1px solid #f0f0f0;
}

.hypaTable table td,
th {
  border: none !important;
}

.hypaTable .ant-pagination-item {
  border-radius: 0;
  margin: 0 !important;
  border-right: 0.75px solid #3b3b3b;
  border-left: 0.75px solid #3b3b3b;
}

.hypaTable .ant-pagination-item-active {
  border-right-color: #4f46e6;
  border-left-color: #4f46e6;
}

.hypaTable .ant-pagination-item {
  border-radius: 0;
  margin: 0 !important;
}

.hypaTable .ant-table-measure-row {
  display: none;
}

.hypaTable .ant-pagination-next button {
  border-bottom-left-radius: 0;
  border-left: 0.25px solid #3b3b3b;
  border-top-left-radius: 0;
}

.hypaTable .ant-pagination-prev {
  margin: 0 !important;
}

.hypaTable .ant-pagination-prev button {
  border-bottom-right-radius: 0;
  border-right: 0.25px solid #3b3b3b !important;
  border-top-right-radius: 0;
}

.hypaTable .missing-table-data {
  background-color: #fcecef !important;
  border: 2px solid #ff93aa !important;
}